<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/caller"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FakeCall_2"
        tools:targetApi="31">
        <activity
            android:name=".Video_calls.messanger_video_call"
            android:exported="false" />
        <activity
            android:name=".Video_calls.whatsapp_video_call"
            android:exported="false" />
        <activity
            android:name=".Audio_calls.messanger_audio_call"
            android:exported="false" />
        <activity
            android:name=".Audio_calls.Whatsapp_audiocall"
            android:exported="false" />
        <activity
            android:name=".Privacy_policy.terms_and_conditions"
            android:exported="false" />
        <activity
            android:name=".Privacy_policy.new_user_privacy"
            android:exported="false" />
        <activity
            android:name=".Privacy_policy.privacy_policy"
            android:exported="false" />
        <activity
            android:name=".Exit_screen"
            android:exported="false" />
        <activity
            android:name=".characterscreen"
            android:exported="false" />
        <activity
            android:name=".settingsactivity"
            android:exported="false" />
        <activity
            android:name=".Audio_calls.audioactivity"
            android:exported="false" />
        <activity
            android:name=".Video_calls.videoactivity"
            android:exported="false" />
        <activity
            android:name=".welcomescreen"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5240576835222291~9247318211" />
    </application>

</manifest>